@charset "utf-8";

*   {margin: 0; padding: 0; box-sizing: border-box;}
html, body  {font: 10pt/180% '맑은 고딕', sans-serif;  color: black;}
/* {font: 10pt/180% 'Nanum Myeongjo', serif;} 나눔명조체*/
img     {display: block; max-width: 100%;}
a       {text-decoration: none; color: #000;}

/*컬러 사용 : #b33238  #fefefe  #644e4d(bottom아이콘색)  #362f2d(로고글씨색)*/
#layout {width:500px; max-width: 800px; min-width: 200px; margin: auto;
         height: 1000px; background: #fefefe; overflow: hidden;
         position: relative;
}

.ui-loader-default {
        display: none;
}

/*상단(header)부분*/
header  {height: 150px; max-height: 100px; width: 500px; max-width: 100%;
         position: fixed; top:0; background: #fefefe; z-index: 2;
}
header h1 img {width: 30%; max-width: 220px; min-width: 120px; /*position: absolute; bottom: 12pt; left: 43%;*/
               margin: 60px auto 0 auto;
}

/*메인(main)부분*/
main    {height: 850px; width: auto; margin-top: 24%;
         background: url('../images/indexback.png') no-repeat top; background-size: contain;
         overflow: hidden;
}
/*#top>img {width: 1200px; margin-top: -75px;}*/
#top    {padding-top: 17%; display: inline; display: flex; justify-content: center;}
#top>div  {margin: 5% 2% 3% 2%; border-radius: 50px; width: 26%; height: 45px; text-align: center;}
#top a {
        font: 12pt/190% '맑은 고딕', sans-serif;
        width: 100%;
        height: 100%;
        letter-spacing: -1px;
        font-size: 1.4rem;
        font-weight: 400;
        display: inline-block;
        padding-top: 5px;
        color: black;}
#login {background: #fefefe;}
#join  {background: none; border: 3px solid #fefefe;}
#join a {margin-top: -2.5px; color: #fefefe;}

#middle {width: 85%; height:45%; background: linear-gradient(-45deg, #f2f2f2, #fefefe);
         border-radius: 25px; box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.2);
         margin: 0 auto;
}
#middle>div {
        background: none;
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 20px 0 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
#middle>div>div {
        text-align: center;
}
#middle>div>div {width: 48%; height: 47%; border-radius: 25px; position: relative;}
#middle>div>div:nth-child(1) {/*margin-top: 6%; margin-left: 6%;*/ box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.2);
                          background: linear-gradient(135deg, #f2f2f2, #fefefe);}
#middle>div>div:nth-child(2) {/*margin-top: 6%; margin-left: 6%;*/ background: rgba(255,255,255,0.2);}
#middle>div>div:nth-child(3) {/*margin-top: 0; margin-left: 6%;*/ background: rgba(255,255,255,0.2);}
#middle>div>div:nth-child(4) {/*margin-top: 0; margin-left: 6%;*/ background: rgba(255,255,255,0.2);}
#middle a   {display: inline-block; font-weight: bold; font-size: 1.4rem; letter-spacing: -1px;
             width: 100%; height: 100%; padding-top: 70%; background: none; border-radius: 25px;
             top: 0; z-index: 1; position: absolute; left: 0;
}
#middle img {max-width: 50%; max-height: 50%; margin: auto; margin-top: 18%;
             position: absolute; left: 25%; z-index: 0;
}
#middle>div>div:first-child>img:first-of-type {left: 32%;}
#middle>div>div:first-child>img:last-of-type {max-width: 40%; max-height: 40%; left: 37%; margin-top: 29%;}
#middle>div>div:nth-child(2)>img {left: 28%;}
#middle>div>div:nth-child(3)>img {margin-top: 24%;}
#middle>div>div:nth-child(4)>img {margin-top: 24%;}
#middle>div>div:nth-child(3)>a {padding-top: 63%;}
#middle>div>div:nth-child(4)>a {padding-top: 63%;}

#bottom {
        height: 12%; width: 80%;
        margin: 30px auto;
        text-align: center;
        padding: 0;
}
#bottom>div {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
}
#bottom>div>div {
        width: 30%;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: -1px;
}
#bottom>div>div img {
        width: 30pt;
        max-width: 100%;
        margin: 4px auto 0 auto;
}
#bottom>div>div:not(:nth-child(2)) img {
        width: 45pt;
}
#bottom>div>div:nth-child(2) img {
        margin: 6.5pt auto 3pt auto;
}
#bottom>div>div:first-child img {
        margin-bottom: 3.5pt;
}
#bottom>div>div:last-child img {
        margin-top: 12px;
        margin-bottom: 6pt;
}

/*팝업*/
#popup {
        position: fixed;
        top: 42%;
        left: 15%;
        width: 350px;
        height: 240px;
        background: white;
        border-radius: 20px;
        z-index: 10;
        display: none;
}
#popup section.heading {
        width: 85%;
        margin: 0 auto;
        border-bottom: 2px solid #ddd;
        display: flex;
        justify-content: space-between;
        padding: 25px 5px 15px 2px;
}
#popup section.heading span {
        font-size: 2.2rem;
        font-weight: 600;
        padding: 10px;
        margin-top: -12px;
        margin-bottom: -8px;
}
#popup p {
        padding: 35px 0 25px 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -1px;
}
#popup .popup-btn {
        background: #35302C;
        width: 120px;
        height: 42px;
        border-radius: 50px;
        margin: auto;
}
#popup .popup-btn span {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        padding-top: 8px;
        cursor: pointer;
        border-radius: 50px;
}
#black {
        position: fixed;
        width: 100%;
        height: 99.9%;
        top: 0;
        z-index: 5;
        background: rgba(0,0,0,0.5);
        display: none;
}

/*슬라이드 부분 내가 잘못한 것
#slide  {position: relative; left: -600px;}
#slide>div {position: fixed; bottom: 6%; display: flex; width: 2400px;}
#slide img {width: 600px;} 아래는 고쳐주신 것*/
#slide  {position: fixed; bottom: 3%; z-index: 3;}
#slide>div {display: flex; width: 1500px; position: relative; left: -500px;}
#slide img {width: 500px;}

/*이미지 하단에 블릿(동그라미)*/
#circle {
        bottom: 4%; 
        left: 42.5%; 
        position: fixed; 
        display: flex;
        width: 70px; 
        justify-content: space-evenly;
        z-index: 4;
}
#circle div {border:2px solid rgba(0,0,0,0.5); border-radius: 50%; width: 10px; height: 10px;
             background: white; margin: 2px;}
#circle div.gray {background: #565656;}

